@font-face {
    font-family: font1;
    src: url(./fonts/NeueMontreal-Light.otf);
}

@font-face {
    font-family: font2;
    src: url(./fonts/NeueMontreal-Medium.otf);
}

@font-face {
    font-family: font3;
    src: url(./fonts/NeueMontreal-Regular.otf);
}

:root {

    /* Colors */
    --primary-color: #222222;
    --secondary-color: #F5E7C6;
    --tertiary-color: #FF6D1F;
    --quaternary-color: #FAF3E1;
    --linear-color: rgb(232, 61, 27);
    --success-color: #139652;

    /* Paddings */
    --padding-sm: 1rem;
    --padding-md: 2rem;
    --padding-lg: 3rem;
    --padding-xl: 6rem;

    /* Margins */
    --margin-sm: 1rem;
    --margin-md: 2rem;
    --margin-lg: 3rem;

    /* Font Sizes */
    --font-size-sm: 1rem;
    --font-size-md: 1.5rem;
    --font-size-lg: 2rem;
    --font-size-lg-2: 4rem;
    --font-size-xl: 8rem;

    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

main {
    min-height: 100%;
    width: 100%;
    background-color: var(--primary-color);
}

/* Todo List */

.allElems {
    height: 100%;
    width: 100%;
    padding: var(--padding-md);
    color: var(--quaternary-color);
    position: absolute;
}

/* Hero Section */
.allElems header {
    padding: var(--padding-xl) var(--padding-md);
    width: 100%;
    border-radius: 0.5rem;
    color: var(--quaternary-color);
    margin-bottom: var(--margin-md);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.allElems header .header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.allElems header .header-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.allElems header .header-left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 2;
}

.allElems header .header-left h4 {
    font-family: font3;
    font-size: var(--font-size-lg);
    letter-spacing: 2px;
    font-weight: var(--font-weight-medium);
}

.allElems header .header-left h2 {
    font-family: font2;
    font-size: var(--font-size-lg-2);
    letter-spacing: 2px;
    font-weight: var(--font-weight-medium);
}

.allElems header .header-left h3 {
    font-family: font3;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
    font-weight: var(--font-weight-light);
}

.allElems header .header-right {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    z-index: 2;
}

.allElems header .header-right h2 {
    font-family: font2;
    font-size: var(--font-size-lg-2);
    letter-spacing: 2px;
    font-weight: var(--font-weight-medium);
}

.allElems header .header-right h3 {
    font-family: font3;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
    font-weight: var(--font-weight-light);
}

/* Features */

.allElems .allFeatures {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.elem {
    height: 22vw;
    width: 17vw;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.elem h2 {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-family: font3;
    text-transform: uppercase;
    text-align: right;
    font-size: var(--font-size-md);
    letter-spacing: 2px;
}

.elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
    transition: all 0.3s ease;
}

.elem:hover {
    box-shadow: 0 0 2rem var(--secondary-color);
}

.elem:hover img {
    filter: brightness(1);
}

.elem:active {
    transform: scale(0.95);
}

/* Task Section */

.taskSection {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: var(--padding-md);
    color: var(--quaternary-color);
    gap: var(--padding-md);
    z-index: 2;
}

.taskSection h2 {
    font-family: font2;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}

.taskSection .closePanel {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    font-family: font2;
    text-transform: uppercase;
    text-align: right;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
    padding: var(--padding-sm) var(--padding-md);
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(221, 12, 12);
    color: var(--quaternary-color);
    border: none;
    transition: all 0.3s ease;
}

.taskSection .closePanel:active {
    transform: scale(0.95);
}

.taskPanel {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    min-height: 0;
}

.taskPanel .left {
    width: 30%;
    height: 100%;
}

.taskPanel .left form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-md);
    justify-content: space-between;
    padding: var(--padding-md);
}

.taskPanel .left form input {
    padding: var(--padding-sm);
    width: 100%;
    border: 1px solid var(--quaternary-color);
    outline: none;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-family: font2;
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    border-radius: 0.5rem;
}

.taskPanel .left form input:focus {
    border: 1px solid var(--secondary-color);
}

.taskPanel .left form textarea {
    padding: var(--padding-sm);
    width: 100%;
    border: 1px solid var(--quaternary-color);
    outline: none;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-family: font2;
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    border-radius: 0.5rem;
}

.taskPanel .left form textarea:focus {
    border: 1px solid var(--secondary-color);
}

.taskPanel .left .important-sec {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--padding-sm);
}

.taskPanel .left .important-sec input {
    width: 1rem;
    height: 1rem;
    accent-color: var(--tertiary-color);
}

.taskPanel .left .important-sec label {
    font-family: font3;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
}

.taskPanel .left form button {
    padding: var(--padding-sm);
    width: fit-content;
    border: none;
    outline: none;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-family: font3;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
}

.taskPanel .left form button:hover {
    background-color: var(--secondary-color);
}

.taskPanel .right {
    width: 65%;
    height: 100%;
    background-color: rgba(152, 147, 147, 0.785);
    border-radius: 0.5rem;
    padding: var(--padding-md);
    display: flex;
    flex-direction: column;
    gap: var(--padding-md);
    position: relative;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.taskPanel .right::-webkit-scrollbar {
    display: none;
}

.taskPanel .right .task {
    width: 100%;
    height: fit-content;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: var(--padding-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding-md);
    position: relative;
    z-index: 2;
}

.taskPanel .right .task .taskInfo h3 {
    font-family: font2;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    display: flex;
    gap: var(--padding-sm);
}

.taskPanel .right .task .taskInfo p {
    white-space: wrap;
    font-family: font1;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
}

.taskPanel .right .task .taskInfo h3 span {
    background-color: var(--tertiary-color);
    font-family: font1;
    font-size: 0.7rem;
    text-transform: capitalize;
    color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.taskPanel .right .task .taskInfo h3 span.true {
    display: block;
}

.taskPanel .right .task .taskInfo h3 span.false {
    display: none;
}

.taskPanel .right .task .taskActions {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-sm);
}

.taskPanel .right .task .taskActions .completeBtn {
    width: 10rem;
    cursor: pointer;
    padding: var(--padding-sm);
    border: none;
    outline: none;
    background-color: green;
    color: var(--quaternary-color);
    font-family: font2;
    white-space: nowrap;
    font-size: var(--font-size-sm);
    transition: all 0.3s ease;
    border-radius: 0.5rem;
}

.taskPanel .right .task .taskActions button:active {
    transform: scale(0.95);
}

/* Daily Planner */

.daily-planner-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 85%;
    padding: var(--padding-md);
    background-color: var(--tertiary-color);
    border-radius: 0.5rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.dailyPlanner h4 {
    font-family: font2;
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: var(--padding-sm);
}

.daily-planner-panel::-webkit-scrollbar {
    display: none;
}

.daily-planner-panel .plan {
    display: flex;
    align-items: center;
    width: 49%;
    position: relative;
    margin-bottom: var(--padding-sm);
}

.daily-planner-panel .plan input {
    width: 100%;
    white-space: wrap;
    padding: 0 var(--padding-lg);
    padding-top: var(--padding-lg);
    padding-bottom: var(--padding-sm);
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-family: font1;
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    border-radius: 0.5rem;
}

.daily-planner-panel .plan h4 {
    position: absolute;
    top: 15%;
    left: 2%;
    font-family: font3;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    letter-spacing: 2px;
}

/* Motivational Quotes */

.taskSection.motivationalSec {
    position: relative;
}

.motivational-fullPage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.motivational-fullPage .motivational-panel {
    width: 50%;
    background-color: var(--quaternary-color);
    border-radius: 0.5rem;
    padding: var(--padding-md);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.motivational-fullPage .motivational-panel::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--tertiary-color);
    z-index: 9;
    scale: 1.05;
    border-radius: 0.5rem;
    padding: var(--padding-sm);
    filter: blur(150px);

}

.motivational-fullPage .motivational-panel .motivational-wrapper {
    position: absolute;
    z-index: 10;
    min-height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: var(--padding-sm);
}

.motivational-fullPage .motivational-panel .motivational-wrapper img {
    position: absolute;
    top: 4%;
    right: 5%;
    opacity: 0.7;
    scale: 1.2;
}

.motivation-1 h4 {
    font-family: font2;
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    letter-spacing: 2px;
    width: fit-content;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: var(--padding-sm) var(--padding-md);
    border-radius: 3rem;
}

.motivation-2 h3 {
    font-family: font3;
    font-size: var(--font-size-lg);
    letter-spacing: 2px;
    text-transform: capitalize;
    white-space: wrap;
    padding: var(--padding-md);
    color: transparent;
    background: linear-gradient(to right, var(--tertiary-color), var(--quaternary-color));
    -webkit-background-clip: text;
    margin-top: var(--padding-md);
}

.motivation-3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: var(--padding-sm);
}

.motivation-3 h4 {
    font-family: font3;
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    letter-spacing: 2px;
    width: fit-content;
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    padding: var(--padding-sm) var(--padding-md);
    border-radius: 0.5rem;
}

/* Pomodoro Timer */

.pomodoro-fullPage .pomodoro-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomodoro-fullPage .pomodoro-panel #session-names {
    width: 30vw;
    height: 3vw;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.pomodoro-fullPage .pomodoro-panel #session-names h4 {
    width: 100%;
    height: 100%;
    font-family: font2;
    font-size: var(--font-size-lg);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: var(--padding-sm);
    background: linear-gradient(to right, var(--tertiary-color), var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.pomodoro-fullPage .pomodoro-panel #session-names .session {
    position: absolute;
    text-align: center;
    top: 0;
}

.break {
    opacity: 0;
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutToBottom {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.show {
    animation: slideInFromTop 0.5s ease forwards;
}

.hide {
    animation: slideOutToBottom 0.5s ease forwards;
}

.pomodoro-fullPage .pomodoro-panel #session-names h4 i {
    margin-right: 0.5rem;
    font-size: var(--font-size-lg);
}

.pomodoro-fullPage .pomodoro-panel h3 {
    font-family: font3;
    font-size: var(--font-size-xl);
    letter-spacing: 5px;
    margin-bottom: var(--padding-md);
    background: conic-gradient(from 90deg, var(--tertiary-color), var(--primary-color), var(--quaternary-color), var(--tertiary-color));
    -webkit-background-clip: text;
    color: transparent;
}

.pomodoro-fullPage .pomodoro-panel button {
    padding: var(--padding-sm) var(--padding-md);
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: font2;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin-right: var(--padding-sm);
    box-shadow: 0.2rem 0.2rem 0.5rem var(--tertiary-color);
}

.pomodoro-fullPage .pomodoro-panel button:active {
    box-shadow: 0 0 0.2rem var(--primary-color);
    transform: scale(0.95);
}

/* Daily Goals */
/* .goals .goal-panel {
    height: 55%;
    width: 50%;
    border: 1px solid var(--tertiary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.goals .goal-panel {
    height: 55%;
    width: 50%;
    /* border: 3px solid var(--tertiary-color); */
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--primary-color), var(--tertiary-color));
    box-shadow: 0.3rem 0.3rem 1rem var(--secondary-color);
}

.goals .goal-panel .goal-panel-header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-sm);
}

.goals .goal-panel .goal-panel-header .goal-panel-head-left h2 {
    font-family: font2;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-lg);
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.goals .goal-panel .goal-panel-header .goal-panel-head-left h4 {
    font-family: font3;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-md);
    letter-spacing: 2px;
}

.goals .goal-panel .goal-panel-header .goal-panel-head-right button {
    padding: var(--padding-sm);
    border-radius: 50%;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.goals .goal-panel .goal-panel-header .goal-panel-head-right button i {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    pointer-events: none;
}

.goals .goal-panel .goal-panel-header .goal-panel-head-right button:active {
    transform: scale(0.95);
}

.goals .goal-panel .daily-goals {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    padding: var(--padding-md);
    margin-bottom: var(--padding-sm);
    scroll-behavior: smooth;
}

.goals .goal-panel .daily-goals::-webkit-scrollbar{
    display: none;
}

.goals .goal-panel .daily-goals .goal {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: var(--padding-sm) var(--padding-md);
    border-radius: 0.5rem;
    margin-bottom: var(--padding-sm);
    cursor: pointer;
    transition: all ease 0.3s;
}

.goals .goal-panel .daily-goals .no-goal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goals .goal-panel .daily-goals .no-goal h2 {
    font-family: font2;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    color: var(--primary-color);
    opacity: 0.8;
    font-style: italic;
}

.goal-add-panel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.772);
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
}

.hide-form {
    display: none;
}

.goal-add-panel .add-goal-form {
    padding: var(--padding-md) var(--padding-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--padding-md);
    border: 1px dashed var(--quaternary-color);
    border-radius: 0.5rem;
    position: relative;
}

.goal-add-panel .add-goal-form #closeGoalAddPanel{
    position: absolute;
    top: -10%;
    right: -5%;
    width: fit-content;
    padding: var(--padding-sm);
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.goal-add-panel .add-goal-form input {
    width: 100%;
    padding: var(--padding-sm) var(--padding-md);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-family: font2;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    background-color: var(--secondary-color);
}

.goal-add-panel .add-goal-form button {
    padding: var(--padding-sm) var(--padding-lg);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-family: font3;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-sm);
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
    width: 100%;
    transition: all ease 0.3s;
    cursor: pointer;
}

.goal-add-panel .add-goal-form button:active {
    transform: scale(0.90);
}

.show-form {
    display: flex;
    animation: slideInFromTop 0.7s ease-in-out forwards;
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}