@font-face {
    font-family: font1;
    src: url(./fonts/NeueMontreal-Light.otf);
}

@font-face {
    font-family: font2;
    src: url(./fonts/NeueMontreal-Medium.otf);
}

@font-face {
    font-family: font3;
    src: url(./fonts/NeueMontreal-Regular.otf);
}

:root {

    /* Colors */
    --primary-color: #222222;
    --secondary-color: #F5E7C6;
    --tertiary-color: #FF6D1F;
    --quaternary-color: #FAF3E1;

    /* Paddings */
    --padding-sm: 1rem;
    --padding-md: 2rem;
    --padding-lg: 3rem;

    /* Margins */
    --margin-sm: 1rem;
    --margin-md: 2rem;
    --margin-lg: 3rem;

    /* Font Sizes */
    --font-size-sm: 1rem;
    --font-size-md: 1.5rem;
    --font-size-lg: 2rem;

    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

main {
    min-height: 100%;
    width: 100%;
    background-color: var(--primary-color);
}

/* Todo List */

.allElems {
    height: 100%;
    width: 100%;
    padding: var(--padding-md);
    color: var(--quaternary-color);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
}

.elem {
    height: 22vw;
    width: 17vw;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.elem h2 {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-family: font3;
    text-transform: uppercase;
    text-align: right;
    font-size: var(--font-size-md);
    letter-spacing: 2px;
}

.elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
    transition: all 0.3s ease;
}

.elem:hover {
    box-shadow: 0 0 2rem var(--secondary-color);
}

.elem:hover img {
    filter: brightness(1);
}

.elem:active {
    transform: scale(0.95);
}

.taskSection {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: var(--padding-md);
    color: var(--quaternary-color);
    gap: var(--padding-md);
}

.taskSection h2 {
    font-family: font2;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}

.taskSection .closePanel {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    font-family: font2;
    text-transform: uppercase;
    text-align: right;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
    padding: var(--padding-sm) var(--padding-md);
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(221, 12, 12);
    color: var(--quaternary-color);
    border: none;
    transition: all 0.3s ease;
}

.taskSection .closePanel:active {
    transform: scale(0.95);
}

.taskPanel {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    min-height: 0;
}

.taskPanel .left {
    width: 30%;
    height: 100%;
}

.taskPanel .left form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-md);
    justify-content: space-between;
    padding: var(--padding-md);
}

.taskPanel .left form input {
    padding: var(--padding-sm);
    width: 100%;
    border: 1px solid var(--quaternary-color);
    outline: none;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-family: font2;
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    border-radius: 0.5rem;
}

.taskPanel .left form input:focus {
    border: 1px solid var(--secondary-color);
}

.taskPanel .left form textarea {
    padding: var(--padding-sm);
    width: 100%;
    border: 1px solid var(--quaternary-color);
    outline: none;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-family: font2;
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    border-radius: 0.5rem;
}

.taskPanel .left form textarea:focus {
    border: 1px solid var(--secondary-color);
}

.taskPanel .left .important-sec {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--padding-sm);
}

.taskPanel .left .important-sec input {
    width: 1rem;
    height: 1rem;
    accent-color: var(--tertiary-color);
}

.taskPanel .left .important-sec label {
    font-family: font3;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
}

.taskPanel .left form button {
    padding: var(--padding-sm);
    width: fit-content;
    border: none;
    outline: none;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-family: font3;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
}

.taskPanel .left form button:hover {
    background-color: var(--secondary-color);
}

.taskPanel .right {
    width: 65%;
    height: 100%;
    background-color: rgba(152, 147, 147, 0.785);
    border-radius: 0.5rem;
    padding: var(--padding-md);
    display: flex;
    flex-direction: column;
    gap: var(--padding-md);
    position: relative;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.taskPanel .right::-webkit-scrollbar{
    display: none;
}

.taskPanel .right .task {
    width: 100%;
    height: fit-content;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: var(--padding-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding-md);
    position: relative;
    z-index: 2;
}

.taskPanel .right .task .taskInfo h3 {
    font-family: font2;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    display: flex;
    gap: var(--padding-sm);
}

.taskPanel .right .task .taskInfo p {
    white-space: wrap;
    font-family: font1;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
}

.taskPanel .right .task .taskInfo h3 span {
    background-color: var(--tertiary-color);
    font-family: font1;
    font-size: 0.7rem;
    text-transform: capitalize;
    color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.taskPanel .right .task .taskInfo h3 span.true{
    display: block;
}

.taskPanel .right .task .taskInfo h3 span.false{
    display: none;
}

.taskPanel .right .task .taskActions {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-sm);
}

.taskPanel .right .task .taskActions .completeBtn {
    width: 10rem;
    cursor: pointer;
    padding: var(--padding-sm);
    border: none;
    outline: none;
    background-color: green;
    color: var(--quaternary-color);
    font-family: font2;
    white-space: nowrap;
    font-size: var(--font-size-sm);
    transition: all 0.3s ease;
    border-radius: 0.5rem;
}

.taskPanel .right .task .taskActions button:active {
    transform: scale(0.95);
}

/* Daily Planner */

.daily-planner-panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 85%;
    padding: var(--padding-md);
    background-color: var(--tertiary-color);
    border-radius: 0.5rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.dailyPlanner h4{
    font-family: font2;
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: var(--padding-sm);
}

.daily-planner-panel::-webkit-scrollbar{
    display: none;
}

.daily-planner-panel .plan{
    display: flex;
    align-items: center;
    width: 49%;
    position: relative;
    margin-bottom: var(--padding-sm);
}

.daily-planner-panel .plan input{
    width: 100%;
    white-space: wrap;
    padding: 0 var(--padding-lg);
    padding-top: var(--padding-lg);
    padding-bottom: var(--padding-sm);
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-family: font1;
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    border-radius: 0.5rem;
}

.daily-planner-panel .plan h4{
    position: absolute;
    top: 15%;
    left: 2%;
    font-family: font3;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    letter-spacing: 2px;
}